.voorbeeld-theme {
  --utrecht-page-content-padding-block-start: 16px;
  --utrecht-page-content-padding-block-end: 32px;
  --utrecht-page-padding-inline-start: 32px;
  --utrecht-page-padding-inline-end: 32px;

  max-inline-size: 95ch;
}

.utrecht-heading-1 {
  --utrecht-heading-1-margin-block-start: 16px;
  --utrecht-heading-1-margin-block-end: 16px;
}

.utrecht-unordered-list {
  max-inline-size: 95ch;
}
